<!--
 CS7025 Programming for Digital Media 2018-19 
 Elena Artz
 Project No. 2: An Image Sharing Application 
 Project2 Profile -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="/layout.css">
  <title>Profile</title>
</head>

<body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-camera"></span> Gallery</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/uploads"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>    
          </ul>
        </div>
    </nav>
    <div class= "container">
      <h1>Welcome, <%= username %> !</h1>
      <div class="row">
        <div class="col-sm-8">
            <h3>Profile Details</h3>
            <div class="col-md-2 col-sm-2 hidden-xs">              
                <img class="img-circle img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
            </div>
            <div class="col-sm-6" id="profile-info">
                <ul class="list-group">
                  <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                  <li class="list-group-item text-right">
                      <span class="pull-left"><strong class="">Joined</strong></span><%= results[0].created_at.toISOString().slice(0, 19).replace('T', ' ')%>
                  </li>
                  <li class="list-group-item text-right">
                     <span class="pull-left"><strong class="">Real name</strong></span> <%= results[0].firstname %> <%= results[0].surname %>
                  </li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong class="">e-Mail</strong></span> <%= results[0].email %></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
          <div id="intro2">
              <div>
                  <h1><i class="fa fa-camera-retro" aria-hidden="true"></i></h1>
                  <p>Checkout the Gallery</p>
                  <a href="/" class="btn btn-success btn-block">Gallery</a>
              </div>
          </div>
        </div>   
      </div>
    </div>
    <footer id="footer">My Photo Booth</footer>
  </body>
</html>